{% extends 'base.html'%}
{%import 'macro.html' as macro %}
{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
<div class="jumbotron" style="margin-top:2px; background-color: azure;">
  <h2 class="text-center">LET'S PITCH</h2>
  <p class="text-center">Can your 60 seconds of your life impress somone?! <br> Give us your pitch!</p>
</div>

<body>
  <div class="container">
    <div class="d-flex justify-content-center row">
      <div class="card-groups">
        <div class=" col-md-4">
          <div class="card-body">
            <h5 class="card-title">Production Pitch</h5>
            <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Enter a New
                Pitch</a></button><br><br>
            {{ macro.showPitch(production) }}

          </div>
        </div>

        <div class=" col-md-4">
          <div class="card-body">
            <h5 class="card-title">Advertising Pitch</h5>
            <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Enter a New
                Pitch</a></button><br><br>
            {{ macro.showPitch(advertising) }}
          </div>
        </div>

        <div class=" col-md-4">
          <div class="card-body">
            <h5 class="card-title">Interview Pitch</h5>
            <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Enter a New
                Pitch</a></button><br><br>
            {{ macro.showPitch(interview) }}
          </div>
        </div>
        <div class=" col-md-4">
          <div class="card-body">
            <h5 class="card-title">Sports</h5>
            <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Enter a New
                Pitch</a></button><br><br>
            {{ macro.showPitch(sport) }}
          </div>
        </div>
        <div class=" col-md-4">
          <div class="card-body">
            <h5 class="card-title">Technology Pitch</h5>
            <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Enter a New
                Pitch</a></button><br><br>
            {{ macro.showPitch(technology) }}
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
{% endblock%}